asgiref==3.9.1
brcode==1.2
Brotli==1.1.0
cffi==2.0.0
colorama==0.4.6
crcmod==1.7
cssselect2==0.8.0
dj-database-url==3.0.1
Django==5.2.6
fonttools==4.60.1
gunicorn==23.0.0
packaging==25.0
pillow==12.0.0
pixqrcodegen==0.9.1
psycopg2-binary==2.9.10
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-brcode==0.2.0
qrcode==8.2
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.2.3.post1
